---
apiVersion: v1
kind: ConfigMap
metadata:
  name: web-config
  namespace: 3tier-app-16
  labels:
    app: web
    tier: frontend
data:
  nginx.conf: |
    user  nginx;
    worker_processes  auto;
    error_log  /var/log/nginx/error.log warn;
    pid        /var/run/nginx.pid;

    events {
        worker_connections  1024;
    }

    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;

        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        access_log  /var/log/nginx/access.log  main;
        sendfile        on;
        
        # 연결 고착화 방지를 위해 keepalive 비활성화 및 타임아웃 단축
        keepalive_timeout  0; 

        upstream was_backend {
            server was:8080;
        }

        server {
            listen 80;
            server_name _;

            location /healthz {
                access_log off;
                return 200 'OK';
                add_header Content-Type text/plain;
            }

            location / {
                proxy_pass http://was_backend;
                proxy_http_version 1.1;
                
                # Connection을 close로 설정하여 매 요청마다 새로 로드밸런싱 유도
                proxy_set_header Connection "close"; 
                
                proxy_set_header Host was;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_connect_timeout 5s;
                proxy_read_timeout 10s;
                proxy_send_timeout 10s;
            }
        }
    }
